body {
  font-size: 3em;
  font-family: monospace;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

.strike {
  text-decoration: line-through;
}

input {
  font-size: 1em;
  text-align: center;
}
